@using Chocobits.Data
@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Chocobits</h1>
    <p>Welcome to Chocobits!</p>

    @{ string variable = "Hello from C#"; }

    <p>
        @variable
    </p>

</div>
